services:
    combyna.expression.act.promoter:
        class: Combyna\Component\Expression\Config\Act\DelegatingExpressionNodePromoter
        autowire: true

    combyna.expression.act.assured_promoter:
        class: Combyna\Component\Expression\Config\Act\AssuredExpressionNodePromoter
        autowire: true
        tags:
            - {name: combyna.expression_promoter}

    combyna.expression.act.basic_promoter:
        class: Combyna\Component\Expression\Config\Act\BasicExpressionNodePromoter
        autowire: true
        tags:
            - {name: combyna.expression_promoter}

    combyna.expression.act.guard_promoter:
        class: Combyna\Component\Expression\Config\Act\GuardExpressionNodePromoter
        autowire: true
        tags:
            - {name: combyna.expression_promoter}

    combyna.expression.act.assurance_promoter:
        class: Combyna\Component\Expression\Config\Act\Assurance\DelegatingAssuranceNodePromoter
        autowire: true

    combyna.expression.act.non_zero_number_assurance_promoter:
        class: Combyna\Component\Expression\Config\Act\Assurance\NonZeroNumberAssuranceNodePromoter
        autowire: true
        tags:
            - {name: combyna.assurance_promoter}

    combyna.expression.act.unknown_constraint_assurance_promoter:
        class: Combyna\Component\Expression\Config\Act\Assurance\UnknownAssuranceConstraintNodePromoter
        autowire: true
        tags:
            - {name: combyna.assurance_promoter}
